{% extends 'website/base.html' %}
{% load static%}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('{% static "website/images/2.jpg" %}')"; >
            <span class="display-4"  id="typed"></span>
            <script type="text/javascript" src="{% static 'website/javascript/typed.js' %} "></script>
            <script>
                var typed = new Typed("#typed", {
                    strings: [
                        "Welcome ! ^1000\n \n Let's Dig into History",
                    ],
                    typeSpeed: 50,
                    backSpeed: 50,
                    loop: true,
                    smartBackspace: true,
                });
              </script>           
    </div>

       

              <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <form class="card card-sm" method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                        {{form.videoname}}
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success" type="submit">Submit</button>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
                    <!--end of col-->
                </div>
 
{% endblock content %}